<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>biblioteca</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding">

  <ion-list>
    <ion-item>
      <img width="50px" height="70px" src="https://contentv2.tap-commerce.com/cover/large/9788420420684_1.jpg?id_com=1113" alt="">
      <ion-label style="margin-left:10px ;">
        <h2>La Colmena</h2>
        <p><b>Autor: </b> Camilo José Cela Trulock</p>
        <p><b>Año:</b> 1951</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <img width="50px" height="70px" src="https://images.cdn3.buscalibre.com/fit-in/360x360/ba/eb/baeb8bbeba7cb4dc4290ad643d845f22.jpg" alt="">
      <ion-label style="margin-left:10px ;">
        <h2>IT</h2>
        <p><b>Autor: </b>Stephen King</p>
        <p><b>Año:</b> 1986</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <img width="50px" height="70px" src="https://contentv2.tap-commerce.com/cover/large/9788492955305_1.jpg?id_com=1113" alt="">
      <ion-label style="margin-left:10px ;">
        <h2>Los Juegos Del Hambre En Llamas</h2>
        <p><b>Autor: </b> Suzanne Collins</p>
        <p><b>Año:</b> 2009</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <img width="50px" height="70px" src="https://images-na.ssl-images-amazon.com/images/I/91R1AixEiLL.jpg" alt="">
      <ion-label style="margin-left:10px ;">
        <h2>Harry Potter y La Piedra Filosofal</h2>
        <p><b>Autor: </b> J. K. Rowling</p>
        <p><b>Año:</b> 1997</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
