<ion-header>
  <ion-toolbar  color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="autor"></ion-back-button>
    </ion-buttons>
    <ion-title>Currículum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
          <h2>2010-actualidad:</h2>
          <p>Profesor en las mejores escuelas de letras en Buenos Aires</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>2008-2010</h2>
        <p>estudiante de harvard en London</p>
      </ion-label>
    </ion-item>
    <ion-item>...</ion-item>
  </ion-list>
</ion-content>
