<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Autor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Información</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Stephen Edwin King (born September 21, 1947) is an American author of horror, supernatural fiction, suspense, crime, science-fiction, and fantasy novels.
    </ion-card-content>
    <ion-list>
      <ion-item> 
        <ion-icon name="book-outline" slot="start"></ion-icon>
          <ion-button color="danger" routerLink="curriculum">Currículum</ion-button>
      </ion-item>

      <ion-item> 
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-buttons>
          <ion-button href="mailto:jcruz2013c@gmail.com"><b>Correo:</b> jcruz2013c@gmail.com</ion-button>
        </ion-buttons>
      </ion-item>

      <ion-item> 
        <ion-icon name="logo-twitter" slot="start"></ion-icon>
        <ion-buttons>
          <ion-button href="https://twitter.com/Juan_Caceres14"><b>Twitter:</b>
            @juan.caceres14
          </ion-button> 
        </ion-buttons>
      </ion-item>

      <ion-item> 
        <ion-icon name="call" slot="start"></ion-icon>
        <ion-label><b>Telefono:</b> 2996486675</ion-label>
      </ion-item>

    </ion-list>
  </ion-card>

</ion-content>
